.category-list a {
  color: #333;
  text-decoration: none;
}

.category-list li {
  background: #fff;
  padding: 12px 6px;
  border-bottom: 1px solid #e6e6e6;
}

.home .category-list li {
  padding: 12px 12px 12px 8px;
  font-size: 18px;
  line-height: 1.33333em;
}

#wrap .interactive-list-item {
  -webkit-tap-highlight-color: transparent;
}

.home section {
  margin-bottom: 25px;
}
